:root {
    /*Colores*/
    /*Primary colours*/
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    /*Neutral*/
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%-55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --just-white: #ffffff;
    /*Font*/
    --red-hat-display: 'Red Hat Display',
    sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--red-hat-display);
}

button {
    border: none;
    background: none;
    width: 100%;
    font-family: var(--red-hat-display);
    font-weight: 700;
    cursor: pointer;
    padding: 12px 24px;
    margin: 5px 0;
}

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    background-image: url("./images/pattern-background-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Pale-blue);
}

.Card {
    width: 320px;
    background-color: var(--just-white);
    border-radius: 20px;
}

.Card__img {
    background-image: url(./images/illustration-hero.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 145px;
    
}

.Card__info {
    padding: 15px 20px;
    text-align: center;
}

.Card__title--Blackface {
    font-weight: 900;
    color: var(--Dark-blue);
    margin: 15px;
}

.Card__text--Light {
    margin: 20px 0;
    color: var(--Desaturated-blue);
    line-height: 1.6rem;
}

.Card__music {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    margin: 20px 0;
}

.Card__music--detail{
    text-align: left;

}

.Card__music--detail h2 {
    color: var(--Dark-blue);
    font-weight: 900;
    font-size: 1rem;
}

.Card__music--detail span {
    color: var(--Desaturated-blue);
}

.Card__music--change {
    color: var(--Bright-blue);
    font-weight: 700;
}

.botton__primary {
    background-color: var(--Bright-blue);
    border-radius: 10px;
    color: var(--just-white);
    transition: all 10ms ease;
}

.botton__primary:hover {
    color: var(--Dark-blue);
    transform: translate(-1px,-1px);
}

.botton__primary:active {
    transform: translate(1px, 1px);
}

.botton__secondary {
    color: var(--Desaturated-blue);
    font-weight: 800;
}

.botton__secondary:hover {
   color: var(--Bright-blue);
}

.botton__secondary:active {
   transform: translate(1px, 1px);
}

.shadow {
     box-shadow: 1px 5px 8px 2px rgba(0, 0, 0, 0.15);
     -webkit-box-shadow: 1px 5px 8px 2px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 1px 5px 8px 2px rgba(0, 0, 0, 0.15);
}

@media only script and (min-width: 1140px) {

    .main__container {
        background-image: url("./images/pattern-background-desktop.svg");
        background-position: top;
        background-size: contain;
    }

    .Card {
        width: 400px;
        background-color: var(--just-white);
        border-radius: 20px;
    }

    .Card__info {
        padding: 15px 40px;
        text-align: center;
    }

}