@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root {
    /*Colores*/
    /*Primary colours*/
    --Bright_orange: hsl(31, 77%, 52%); 
    --Dark_cyan: hsl(184, 100%, 22%); 
    --Very_dark_cyan: hsl(179, 100%, 13%);
    /*Neutral*/
    --Transparent_white_paragraphs: hsla(0, 0%, 100%, 0.75); 
    --Very_light_gray: hsl(0, 0%, 95%);
    /*Font*/
    --Lexend_Deca: "Lexend Deca",
    sans-serif;
    --Big_Shoulders_Display: "Big Shoulders Display",
    sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;
} 

.container__card {
    width: 923px;
    height: 505px; 
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.card img {
    width: 50px;
    margin-bottom: 50px;
}

.card h1 {
    font-weight: 700;
    font-family: var(--Big_Shoulders_Display);
    color: var(--Very_light_gray);
    margin-bottom: 40px;
}

.card p {
    font-weight: 400;
    font-family: var(--Lexend_Deca);
    color: var(--Transparent_white_paragraphs);
    margin-bottom: 100px;
}

.card a {
    font-weight: 400;
    font-family: var(--Lexend_Deca);
    color: var(--Transparent_white_paragraphs);
    border-radius: 25px;
    border: 2px solid var(--Transparent_white_paragraphs);
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
}

.card__Sedans {
    background-color: var(--Bright_orange);
    height: 505px;
    width: 307px;
    padding: 45px;
    border-radius: 10px 0 0 10px;
    
}

.card__SUVs {
    background-color: var(--Dark_cyan);
    height: 505px;
    width: 307px;
    padding: 45px;
}

.card__Luxury {
    background-color: var(--Very_dark_cyan);
    height: 505px;
    width: 307px;
    padding: 45px;
    border-radius: 0 10px 10px 0;
}













   
