
body{
       font: 13px/20px verdana;
       padding: 20px;
       background-color: #FA5858;
}

img{
    
    width: 150px;
    margin: auto;
}

h1{
    text-decoration: underline;
}

#div1 {
    background-color: #FE2E2E;
    text-align: center;
    padding: 15px;
    border-radius: 20px;   
}

#div5{
    text-align: center;
}


