body {
    font: 15px/25px "Arial",
        "Helvetica",
        "sans-serif";
    text-align: center;
    width: 1000px;
    margin: auto;
    box-sizing: border-box;
    background-image: linear-gradient(140deg, #20B2AA, #4B0082);
    
}

main {
    background-color: #f5ebeb34;
    border: 1px solid #f5ebeb34;
    /*rder-radius: 50px 50px 0px 0px;*/
    
}

header {
    background-color: #f5ebeb34;
    /*border-radius: 50px 50px 0px 0px;*/
}

.tooltin {
    display: flex;
    gap: 1rem;
   
    
}

.tooltip__face {
    width: 50px;
    
}

.tooltip__gitHub {
    width: 50px;
}

.tooltip__link {
    width: 50px;
}




/* En contruccion nav */
/*nav {
    position: absolute;
    background-color: hsl(217, 19%, 35%);
    color: hsl(210, 46%, 95%);
    display: flex;
    gap: .1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 20px gray;
}
*/

form {

    background-color: #ffffff;
    margin: 5px;
    border: 4px ridge #ffffff83;
    margin: 0px 100px 100px 100px;

}

footer {
    background-color: #292e2c;
    border: 1px solid #292e2c;
    border-radius: 0px 0px 50px 50px;
    font-size: 30px;
}

h1 {
    text-decoration: underline overline;
}

h1, h2 {
    font-family: "Trebuchet Ms";
    text-transform: capitalize;
    font-variant: small-caps;
}

ol, ul {
    list-style-type: none;
    margin-right: 50px;
    
}

img{
    margin: 5px;
    border: 4px ridge #1c21304f;
    border-radius: 40px;
    box-shadow: 5px 5px 25px rgb(44, 43, 43);
}


