body {
    font: 15px/25px "Arial",
        "Helvetica",
        "sans-serif";
    text-align: center;
    width: 1000px;
    margin: auto;
    box-sizing: border-box;
    background-image: linear-gradient(140deg, #20B2AA, #4B0082);
    
}

main {
    background-color: #f5ebeb34;
    border: 1px solid #f5ebeb34;  
}

header {
    background-color: #f5ebeb34;
    border: 1px solid #f5ebeb34;
    display: flex;
    justify-content: center;
}


.tooltin__link, .tooltin__face, .tooltin__gitHub {
    width: 40px;
}

form {

    background-color: #ffffff;
    margin: 5px;
    border: 4px ridge #ffffff83;
    margin: 0px 100px 100px 100px;

}

footer {
    background-color: #292e2c;
    border: 1px solid #292e2c;
    border-radius: 0px 0px 50px 50px;
    font-size: 30px;
}

h1 {
    text-decoration: underline overline;
}

h1, h2 {
    font-family: "Trebuchet Ms";
    text-transform: capitalize;
    font-variant: small-caps;
}

ol, ul {
    list-style-type: none;
    margin-right: 50px;
    
}

img{
    margin: 5px;
    border: 4px ridge #1c21304f;
    border-radius: 40px;
    box-shadow: 5px 5px 25px rgb(44, 43, 43);
}


