@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    /* ## Colors  */

    /* ### Primary  */
    --Violet: hsl(257, 40%, 49%); 
    --Soft_Magenta: hsl(300, 69%, 71%);

    /* ### From */
    --Poppins: 'Poppins',
    sans-serif;
    --Open_Sans: 'Open Sans',
    sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    max-height: 660px;
}

.container {
    background-image: url(./images/bg-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--Violet);
    width: 100vw;
    height: 100vh;
}

.Community__huddle {
    display: flex;

}

.Imagen Img {
    width: 700px;
    height: 500px;
}

.register {
    padding: 20px;
}