body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    margin: auto;
}

img {
   width: 100%; 
}

.header__container {
    position: relative;
    z-index: 100;
}

.logo{
    font-weight: 50%;
   
    
}